<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackoak.stackoak.repository.column.ColumnMapper">

    <select id="selectColumnsByArticleId" resultType="com.stackoak.stackoak.common.data.column.Column">
         select c.id,c.name,c.user_id as userId, c.cover,c.intro from columns c
         inner join article_column ac on ac.column_id=c.id where c.user_id=#{userId} and ac.article_id=#{articleId}
    </select>
    <!-- 查询订阅我的专栏的用户列表 -->
    <select id="findSubscribersByColumnId" resultType="com.stackoak.stackoak.common.data.user.User">
        SELECT cs.user_id       AS userId,
               u.nickname,
               cs.subscribed_at as subscribedAt
        FROM column_subscription cs
                 JOIN
             user u ON cs.user_id = u.id
        WHERE cs.column_id = #{columnId}
          AND cs.status = 1
    </select>

    <!-- 查询我订阅的专栏列表 -->
    <select id="findSubscribedColumnsByUserId" resultType="com.stackoak.stackoak.common.data.column.Column">
        SELECT c.id,
               c.name,
               c.cover,
               c.user_id as userId,
               c.intro,
               cs.subscribed_at
        FROM column_subscription cs
                 JOIN
             columns c ON cs.column_id = c.id
        WHERE cs.user_id = #{userId}
          AND cs.status = 1
    </select>
</mapper>
