<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackoak.stackoak.repository.follow.FollowsMapper">

    <select id="selectFans" resultType="com.stackoak.stackoak.common.data.follow.FollowUserVO">
        SELECT
            u.id,
            u.nickname,
            u.avatar,
            u.introduce,
            CASE
                WHEN f2.user_id IS NOT NULL AND f3.user_id IS NOT NULL THEN 1
                ELSE 0
                END AS relation
        FROM
            USER u
                JOIN follows f ON u.id = f.user_id
                LEFT JOIN follows f2 ON f2.user_id = u.id AND f2.target_user_id = #{visitorUserId}
                LEFT JOIN follows f3 ON f3.user_id = #{visitorUserId} AND f3.target_user_id = u.id
        WHERE
            f.target_user_id = #{userId}
    </select>
    <select id="selectFollow" resultType="com.stackoak.stackoak.common.data.follow.FollowUserVO">
        SELECT
            u.id,
            u.nickname,
            CASE
                WHEN f2.user_id IS NOT NULL AND f3.user_id IS NOT NULL THEN 1
                ELSE 0
                END AS relation
        FROM
            USER u
                JOIN follows f ON u.id = f.target_user_id
                LEFT JOIN follows f2 ON f2.user_id = u.id AND f2.target_user_id =  #{visitorUserId}
                LEFT JOIN follows f3 ON f3.user_id = #{visitorUserId} AND f3.target_user_id = u.id
        WHERE
            f.user_id = #{userId}
    </select>
</mapper>
